[Unit]
Description=Telegram bot 'KC_smc_bot'
After=syslog.target
After=network.target

[Service]
Type=simple
User=semen106
WorkingDirectory=/home/semen106/bot/KC_smc_bot
ExecStart=/usr/bin/python3 /home/semen106/bot/KC_smc_bot/telebot_sum.py
RestartSec=60
Restart=always

[Install]
WantedBy=multi-user.target
